<!--<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="https://e7.pngegg.com/pngimages/549/789/png-clipart-electricity-logo-bulb-logo-text-orange.png" alt="" style="width: 4%;height: 3%;"> &nbsp;&nbsp;
      <p class="navbar-brand" >Electricity Billing Management System</p>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" slot="alignco" style="justify-content: right;">
       
  &nbsp;&nbsp;
        <a routerLink="Login" class="md-4"  id="btn">
          <button class="btn btn-primary btn-lg" type="submit">Login</button>
        </a>
      </div>
    </div>
    <app-bill></app-bill>
  </nav>-->
  <app-home></app-home>
  
   
  
  
  